<!DOCTYPE html>
<html>
<head>
  <title>InstagramHeroku</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <% if logged_in? %>
      <%= link_to "Logout", logout_path %>
    <% else %>
      <%= link_to "Sign in with Instagram", instagram_oauth_path %>
    <% end %>
  </header>
<%= yield %>

</body>
</html>
